body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
/* 5 tabs hover */
nav {
    margin-top: 30px;
}

nav a {
    margin-right: 30px;
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
    display: inline-block;
    padding: 5px; 
    border-radius: 0px; /* start with no radius (a square) */
    font-family: 'Times New Roman', Times, serif; /* Times New Roman Font */
    font-size: 25px; 
    font-weight: bold; /* Bold text */
}

nav a:hover {
    background-color: rgb(47, 237, 250);
    color: #484343;
    padding: 10px; 
    border-radius: 10px; /* End with some radius (a smooth square) */
}
/* 5 tabs hover ^^ */ 


h1, h2 {
    font-size: 40px;
    color: #000000;
}

main {
    background-color: #ececec;
    padding: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0ABAB5;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #fff;
    font-size: 15px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}


table, th, td {
        border: 1px solid #ccc;
    }
    
    th {
        background-color: #0ABAB5;
        color: #fff;
    }
    
    th, td {
        padding: 15px;
        text-align: left;
    }
    
    a {
        color: #1a237e; /* This will give your link the dark blue color */
    }
    
    a:hover {
        color: #e8eaf6; /* This will give your link the light blue color when hovered over */
    }
    